html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: black;
}

body * {
	color: white;
	display: block;
}

#container {
	margin: 6px;
}

button {
	color: black;
}

#username, #wallet_balance {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 24px;
	margin: 10px 0 0 0;
}

button {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 18px;
	color: black;
	background-color: white;
	border: 0px solid transparent;
	border-radius: 8px;
}

button:hover {
	background-color: #c9c9c9;
	cursor: pointer;
}

.order, .order_detail {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.order {
	border: 3px solid white;
	border-radius: 8px;
	margin: 18px auto 0 auto;
	padding: 8px;
	text-align: center;
	font-size: 18px;
}

.id, .date_order, .date_delivery {
	color: rgb(253, 255, 217);
}

.order_detail {
	border: 3px solid aqua;
	border-radius: 6px;
	margin: 8px;
	padding: 8px;
	text-align: left;
	font-size: 16px;
}

