html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: black;
}

#container {
	border: 4px solid green;
}

#user_info {
	border: 4px solid red;
	color: white;
	display: block;
}

#user_info * {
	display: block;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 32px;
}

#order_container
{
	border: 4px solid yellow;
	display: block;
}

.order {
	border: 4px solid blue;
	color: white;
	display: block;
}

.order * {
	display: block;
}

.order_detail
{
	border: 4px solid cyan;

}



