html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}


#container {
	display: block;
	background-color: black;

	box-sizing: border-box;

	height: 100%;
	width: 100%;
}

img {
	display: block;

	height: fit-content;
	margin: 0 auto 0 auto;
	padding: 24px 0 0 0;
}

input {
	display: block;

	height: fit-content;
	margin: 8px auto 0 auto;
}

button {
	display: block;
	margin: 16px auto 0 auto;
	padding: 8px;

	color: black;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
	font-weight: bold;
	border: 3px solid transparent;
	border-radius: 10px;
	background-color: lightsalmon;
}

button:hover {
	border: 3px solid white;
	background-color: darkgray;
	cursor: pointer;
}

#button_enter {
	margin: 32px auto 0 auto;
}